p{
    color:red;
}

.myListGroup{
width: 70%;
max-width:100% ;
background-color: lightgreen;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
font-display: center;
border: 2px;
border-radius: 10%;
box-shadow: 5px 2px black;
margin-left: 20%;


}
.buttone{
    background-color: lightgreen;
    border:2px;
    border-color: green;
    box-shadow: 2px 2px black;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.mypcimage{
   padding-left: 5%;
   max-width: 70%;
}
.myCard{
    background-color: whitesmoke;
}
h5{
    color: darkred;
}
.myProgress{
    line-height: 50%;
    width: 52%;
    
}
.watch{
width:14%;
color:black;

}
.rotate90{
    /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

float: left;

}
.rotate180{
    /* Safari */
-webkit-transform: rotate(-180deg);

/* Firefox */
-moz-transform: rotate(-180deg);

/* IE */
-ms-transform: rotate(-180deg);

/* Opera */
-o-transform: rotate(-180deg);

float: left;

}
.rotate270{
    /* Safari */
-webkit-transform: rotate(-270deg);

/* Firefox */
-moz-transform: rotate(-270deg);

/* IE */
-ms-transform: rotate(-270deg);

/* Opera */
-o-transform: rotate(-270deg);

float: left;

}


body{
    background-image: url("../img1/sfondo8.jpg");
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
  
}
.myImg {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 1px;
}

.rowDiv {
width: 100%;
}
h1 {
color: red;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
min-width: 100%;


}
h2{
color:yellow;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
min-width: 100;

}
h3{
    min-width: 300%;
    color: white;
    font-size: 350%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    
  
}
.statusDiv{
}
.itemDiv{
    
    border: 3px solid darkseagreen;
    background-color: aquamarine;
    font-family: Papyrus;
    font-size: small;
    border-radius: 6%;
    box-shadow: 5px 2px black;
    padding : 1% 1% ;
    

}

.myButtons{
    
    background-color: lightgreen;
    border-color: green;

    color: white;
    font-family: Papyrus;
    margin-left: 40%;
   
    font-size: large !important;
    border-radius: 12%;
    
}
#myGame{
    width: 100%;
    margin: auto;
}
#messagerDiv{
    position: fixed;
    top:100px;
    left: 25%;
    border-radius: 5%;
    z-index: 1;
    max-width: 50%;
    padding: 5%;
    text-align: center;
    font-size: x-large;
}
.successDiv{
    background-color: forestgreen;
    border: 1px solid green;
    color: white;
    margin-left: 10%;
 
}
footer{
    color:black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.failDiv{
    background-color: orange;
    border: 1px solid;
    color: white;
    align-content: center;
    margin-left: 10%;
    
}
.arrowButtons{

  
    margin: 1% 1% ;
    max-width: 100%;
    min-height:100%; 
    background-color: transparent!important;
    border: none;
}
.arrowButtonsAlone{
   
   
    margin: 1% 1%;
    min-width: 100%;
    min-height:100%; 
    background-color: transparent!important;
    border: none;
    
}
.arrowButtons:hover{
    border: none;
}
.myTable img{
   min-width: 100%;
   margin:auto;
}
.mainArrowDiv{
    width:20%;
    max-width: 10%;
    padding-top: 5%;
    float: left;
}
.arrowDiv{
   margin-left: 10%;
}

.userDiv{
    
    border: 3px solid darkseagreen;
    background-color: aquamarine;
    font-family: Papyrus;
    border-radius: 10%;
    box-shadow: 5px 2px black;
    display: inline-flex;
    min-height: 20%;
    padding : 1% 4% 1% 4% ;
    margin: 2%;
    text-align: center;
    margin-left: 5%;
    margin-right: 100%;
    max-width: 50%;
    width:25%;
    margin: auto;


}



@media only screen and (max-width: 650px) {
    .statusDiv{
        float: left;
        width: 100%;
        max-width: 100%;

    }
    .myIcon{
        font-size: 5px;
        padding:1%,1%;

    }
    .itemDiv{
        width: 35%;
        float:left;
        border: 3px solid darkseagreen;
        background-color: aquamarine;
        font-family: Papyrus;
        border-radius: 6%;
        box-shadow: 5px 2px black;
        padding : 1% ;
        margin: 1%;
        font-size: 10px;
    }
    .tableDiv{
        width:100%;
        max-width: 100%;
        float: left;
    }
    .mainArrowDiv{
        width:50%;
        max-width: 50%;
        padding-top: 2%;
        margin-left: 10%;
        float: left;
    }
    .arrowDiv{
        margin-left: 10%;
    }
    .arrowDivCenter{
        margin-left: 7%;
    }
    .myButtons{
        width: auto;
        min-width: 15%;
        height: 25%;
        min-height: 25%;
        background-color: lightgreen;
        border: 1px solid green;
        color: white;
        font-family: Papyrus;
        margin-left: 30%;
        margin-right: 5%;
        margin-top: 5%;
        font-size:medium ;
        border-radius: 12%;

    }
    #messagerDiv{
        position: fixed;
        top:120px;
        left: 20%;
        border-radius: 5%;
        z-index: 1;
        max-width: 50%;
        padding: 5%;
        text-align: center;
        font-size: x-large;
    }
    .watch{
        max-width: 50%;
        font-size: 20px;
    
    }
    .mypcimage{
        padding-left: 5%;
        max-width:20%;
        margin-left: 1%;
     }
     h3{
        min-width: 100%;
        color: white;
        font-size: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: bold;
        
      
    }

}